@model ConferenceFormSubmittal.Models.Application

@{
    ViewBag.Title = "Create";
}

<!--HEADING-->
<div class="row pt-3">
    <div class="col-12">
        <div class="card card-header bg-NCDSB-Grey">
            <h3 class="text-center">Create Application</h3>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row mt-3">

        <div class="col-3">
            <div class="card card-body bg-NCDSB-Grey">
                <div class="col-12">
                    <input type="button" value="Save As Draft" class="btn btn-primary btn-block mb-3" />
                    <input type="button" value="Submit" class="btn btn-primary btn-block mb-3" />

                    @Html.ActionLink("Back to List", "Index", "Conferences", null, new { @class = "btn btn-primary btn-block mb-3" })
                </div>
            </div>
        </div> <!--col-->


        <div class="col-9">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card card-body bg-NCDSB-Grey">
                        <div class="row">
                            <div class="col-6">
                                @*<b class="d-block">Employee</b>
                                    @Html.LabelFor(model => model.EmployeeID, "EmployeeID", htmlAttributes: new { @class = "control-label" })
                                    Fred Flintsone
                                    @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })*@

                                <b class="d-block">Conference</b>
                                @*@Html.LabelFor(model => model.ConferenceID, "ConferenceID", htmlAttributes: new { @class = "control-label col-md-2" })*@
                                Code Jam
                                @Html.ValidationMessageFor(model => model.ConferenceID, "", new { @class = "text-danger" })



                                <b class="d-block mt-2">Payment Type</b>
                                <select name="status" class="d-block">
                                    <option selected>Corporate Credit Card </option>
                                    <option>Union Reimbursement</option>
                                    <option>Corporate Cheque Requisition</option>
                                    <option>Paid By Staff Member</option>
                                </select>
                            </div>

                            <div class="col-6">

                                <b class="d-block">Budget Code</b>
                                @*@Html.LabelFor(model => model.BudgetCode, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                @Html.EditorFor(model => model.BudgetCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BudgetCode, "", new { @class = "text-danger" })

                                <b class="d-block">Require Replacement Staff</b>
                                @*@Html.LabelFor(model => model.ReplStaffReq, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.ReplStaffReq)
                                    @Html.ValidationMessageFor(model => model.ReplStaffReq, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card card-body bg-NCDSB-Grey">
                        <b>Rationale</b>
                        @*@Html.LabelFor(model => model.Rationale, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @Html.EditorFor(model => model.Rationale, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Rationale, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-12">
                    <div class="card card-body bg-NCDSB-Grey mt-3">
                        <div class="col-12">
                            <b class="d-block mt-2">Expenses</b>

                            <table class="table">
                                <tbody>

                                    <tr>
                                        <th>
                                            <b>Type</b>
                                        </th>
                                        <th>
                                            <b>Estimated Cost</b>
                                        </th>
                                        <th></th>
                                    </tr>

                                    <tr class="rgba-grey-light">
                                        <td>
                                            <select name="status" class="d-block">
                                                <option selected>Food </option>
                                                <option>Food</option>
                                                <option>Food</option>
                                                <option>Hotel</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" />
                                        </td>
                                        <td>
                                            <a class="btn btn-primary" href="#">+</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>


        </div> <!--col-->

    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
