@model ConferenceFormSubmittal.Models.Application

@{
    ViewBag.Title = "Edit";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)

    <!--HEADING-->
    <div class="row pt-3">
        <div class="col-12">
            <div class="card card-header bg-NCDSB-Grey">
                <h3 class="text-center">Edit Application</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            </div>
        </div>
    </div>



    <div class="row mt-3">
        <div class="col-3">
            <div class="card card-body bg-NCDSB-Grey">
                <div class="col-12">
                    <input type="submit" value="Save Draft" class="btn btn-primary btn-block mt-3" />
                    <input type="submit" value="Create" class="btn btn-primary btn-block mt-3" />
                    @Html.ActionLink("Back to List", "Index", "Applications", null, new { @class = "btn btn-primary btn-block mt-3" })
                </div>
            </div>
        </div> <!--col-->

        <div class="col-9">
            <div class="row">
                <div class="col-12">
                    <div class="card card-body bg-NCDSB-Grey mr-2">
                        <div class="row">
                            <div class="col-6">
                                <b class="d-block mt-2 ">Conference Name</b>
                                @Html.DisplayFor(model => model.Conference.Name)

                                <b class="d-block mt-2">Require Repl Staff</b>
                                @Html.DisplayFor(model => model.ReplStaffReq)
                            </div>
                            <div class="col-6">
                                <b class="d-block mt-2">Budget Code</b>
                                @Html.EditorFor(model => model.BudgetCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BudgetCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card card-body bg-NCDSB-Grey mt-3">
                        <div class="col-12">
                            <b class="d-block mt-2">Rationale</b>
                            @Html.EditorFor(model => model.Rationale, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Rationale, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card card-body bg-NCDSB-Grey mt-3">
                        <div class="col-12">


                            <b class="d-block mt-2">Add Expense</b>
                            <table class="table">
                                <tbody>

                                    <tr>
                                        <th>
                                            <b> Type</b>
                                        <th>
                                            <b>Estimated Cost</b>
                                        </th>

                                        <th></th>
                                    </tr>

                                    <tr class="rgba-grey-light">

                                        <td>
                                            <input type="text" />
                                        </td>
                                        <td>
                                            <input type="text" />
                                        </td>
                                        <td>
                                       
                                        </td>
                                        <td>
                                            <a class="badge badge-primary" href="#">+</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>




                            <b class="d-block mt-2">Expenses</b>

                            <table class="table">
                                <tbody>

                                    <tr>
                                        <th>
                                            <b>Description</b>
                                        </th>
                                        <th>
                                            <b>Type</b>
                                        </th>
                                        <th>
                                            <b>Estimated Cost</b>
                                        </th>

                                        <th></th>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td>
                                            Food
                                        </td>

                                        <td>
                                            $200.00
                                        </td>

                                        <td></td>
                                        <td>
                                            <a class="badge badge-primary" href="/Expenses/Details/1">Details</a>
                                            <a class="badge badge-danger" href="/Expenses/Delete/2">Delete</a>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td></td>
                                        <td>
                                            Hotel
                                        </td>

                                        <td>
                                            $20.00
                                        </td>

                                        <td></td>
                                        <td>
                                            <a class="badge badge-primary" href="/Expenses/Details/1">Details</a>
                                            <a class="badge badge-danger" href="/Expenses/Delete/1">Delete</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td>
                                            Limo
                                        </td>

                                        <td>
                                            $200.00
                                        </td>

                                        <td></td>
                                        <td>
                                            <a class="badge badge-primary" href="/Expenses/Details/1">Details</a>
                                            <a class="badge badge-danger" href="/Expenses/Delete/2">Delete</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td>
                                            Food
                                        </td>

                                        <td>
                                            $200.00
                                        </td>

                                        <td></td>
                                        <td>
                                            <a class="badge badge-primary" href="/Expenses/Details/1">Details</a>
                                            <a class="badge badge-danger" href="/Expenses/Delete/2">Delete</a>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td></td>
                                        <td>
                                            Hotel
                                        </td>
                                        <td>
                                            $20.00
                                        </td>

                                        <td></td>
                                        <td>
                                            <a class="badge badge-primary" href="/Expenses/Details/2">Details</a>
                                            <a class="badge badge-danger" href="/Expenses/Delete/2">Delete</a>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td>
                                            Limo
                                        </td>
                                        <td>
                                            $200.00
                                        </td>

                                        <td></td>
                                        <td>
                                            <a class="badge badge-primary" href="/Expenses/Details/1">Details</a>
                                            <a class="badge badge-danger" href="/Expenses/Delete/2">Delete</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>


        </div> <!--col-->



    </div>



}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
