@model ConferenceFormSubmittal.Models.Application
@using ConferenceFormSubmittal.Utilities;
@{
    ViewBag.Title = "Edit";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)

    <!--HEADING-->
    <div class="row pt-3">
        <div class="col-12">
            <div class="card card-header bg-NCDSB-Grey">
                <h3 class="text-center font-weight-bold">Edit Application</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            </div>
        </div>
    </div>


    //------------------------------------------------ Header buttons ---------------------------------
    <div class="row mt-3">
        <div class="col-12">

            <div class="card bg-NCDSB-Grey">
                <div class="card-body">
                    <div class="row ">
                        <div class="col-12 d-flex justify-content-between">
                            <a href='@Url.Action("Index", "Applications")' class="btn btn-primary">
                                @Helper.GetIcon(Helper.Icons.BackArrow)
                                Go Back
                            </a>

                            <button  class="btn btn-primary">
                                @Helper.GetIcon(Helper.Icons.Draft)
                                Save Draft
                            </button>

                            <button class="btn btn-primary">
                                @Helper.GetIcon(Helper.Icons.Save)
                                Create                              
                            </button>                 
                       </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row mt-3">
        
        @*-----------------------------------Conference Details bar------------------------------------*@
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-NCDSB-Grey">
                        <div class="card-header">

                            <h4>Conference Details</h4>
                        </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-6">
                                    @Html.LabelFor(model => model.Conference, new { @class = "d-block mt-2 font-weight-bold" })
                                    @Html.EditorFor(model => model.Conference.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Conference.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-6">
                                    @Html.LabelFor(model => model.BudgetCode, new { @class = "d-block mt-2 font-weight-bold" })
                                    @Html.EditorFor(model => model.BudgetCode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BudgetCode, "", new { @class = "text-danger" })
                                </div>                           
                            </div>
                            <div class="row pt-3">
                                <div class="col-6">
                                    @Html.LabelFor(model => model.DepartureDate, new { @class = "d-block mt-2 font-weight-bold" })
                                    @Html.EditorFor(model => model.DepartureDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DepartureDate, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-6">
                                    @Html.LabelFor(model => model.ReturnDate, new { @class = "d-block mt-2 font-weight-bold" })
                                    @Html.EditorFor(model => model.ReturnDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ReturnDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-6">
                                    @Html.LabelFor(model => model.AttendStartDate, new { @class = "d-block mt-2 font-weight-bold" })
                                    @Html.EditorFor(model => model.AttendStartDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AttendStartDate, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-6">
                                    @Html.LabelFor(model => model.AttendEndDate, new { @class = "d-block mt-2 font-weight-bold" })
                                    @Html.EditorFor(model => model.AttendEndDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AttendEndDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-6">
                                    @Html.LabelFor(model => model.PaymentType.Description, new { @class = "d-block mt-2 font-weight-bold" })
                                    @Html.EditorFor(model => model.PaymentType.Description, new { htmlAttributes = new { @class = "form-control d-inline" } })
                                    @Html.ValidationMessageFor(model => model.PaymentType.Description, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-6">
                                    @Html.LabelFor(model => model.ReplStaffReq, new { @class = " mt-2 font-weight-bold" })
                                    @Html.EditorFor(model => model.ReplStaffReq)
                                    @Html.ValidationMessageFor(model => model.ReplStaffReq, "", new { @class = "text-danger d-block" })

                                </div>

                            </div>
                        </div>
                    </div>
                    

                </div>


            </div>

        @*----------------------Rationale bar ------------------------------------------*@
            <div class="row">
                <div class="col-12">
                    <div class="card bg-NCDSB-Grey mt-3">
                        <div class="card-header">
                            <h4>Rationale</h4>
                        </div>
                        <div class="card-body">
                            <div class="col-12">
                                @Html.EditorFor(model => model.Rationale, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Rationale, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>


        @*---------------------------------------- Expenses Bar- --------------------------------------------*@
            <div class="row">
                <div class="col-12">
                    <div class="card bg-NCDSB-Grey mt-3">
                        <div class="card-header">
                            <h4>Edit Expenses</h4>
                        </div>
                        <div class="card-body">
                            <div class="col-12">

                                expenses
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>


        </div> <!--col-->



    </div>



}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
