@model IEnumerable<ConferenceFormSubmittal.Models.Application>

@{
    ViewBag.Title = "Index";
}


<!--HEADING-->
<div class="row pt-3">
    <div class="col-12">
        <div class="card card-header bg-NCDSB-Grey">
            <h3 class="text-center">View Applications</h3>
        </div>
    </div>
</div>

<div class="row pt-3">
    <div class="col-12">

        <div class="card card-body bg-NCDSB-Grey">
            <div class="row">
                <div class="col-5">
                    <b>Name</b>
                    <input type="text" class="form-control">

                    <b>Conference</b>
                    <input type="text" class="form-control">

                   
                </div>
                <div class="col-4">
                    <b>Start Date</b>
                    <input type="date" class="form-control">

                    <b>End Date</b>
                    <input type="date" class="form-control">
                </div>
                <div class="col-3">
                    <b>Status</b>
                    <select name="status" class="d-block">
                        <option selected>Submitted  </option>
                        <option>Denied </option>
                        <option>Approved</option>
                    </select>

                    <button type="button" class="btn btn-primary btn-block mt-5">Filter</button>
                </div>
            </div>
            
 
        </div>
    </div>

</div>


<div class="row pt-3">
   
    <div class="col-12">
        <!--Panel-->
        <div class="card card-body bg-NCDSB-Grey">

            <table class="table">
                <tr>
                    <th>
                        <b>@Html.DisplayNameFor(model => model.Employee.FullName)</b>
                    </th>
                    <th>
                        <b>@Html.DisplayNameFor(model => model.Conference.Name)</b>
                    </th>
                    <th>
                        <b>@Html.DisplayNameFor(model => model.DateSubmitted)</b>
                    </th>
                    <th>
                        <b>Status @*@Html.DisplayNameFor(model => model.Status.Description)*@</b>
                    </th>
                    <th></th>
                </tr>

                @{ int i = 0;}

                @for (int c = 0; c < 5; c++)
                {

                    foreach (var item in Model)
                    {
                        i++;
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Employee.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Conference.Name)
                            </td>
                            <td>
                                2018-02-11
                            </td>
                            <td>
                                Submitted
                            </td>
                            <td>
                                <a href="~/Applications/Details/3" class="badge badge-primary bg-NCDSB-Blue text-white">View</a>
                                @*@Html.ActionLink("View", "Details", new { id = item.ID }, new { @class = "badge badge-primary bg-NCDSB-Blue text-white" })*@
                                @Html.ActionLink("Eval", "Evaluate", new { id = item.ID }, new { @class = "badge badge-primary" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "badge badge-danger" })

                            </td>
                        </tr>

                    }


                }



            </table>

        </div>
        <!--/.Panel-->




    </div>
</div>

