@model IEnumerable<ConferenceFormSubmittal.Models.Application>

@{
    ViewBag.Title = "Index";
}


<!--HEADING-->
<div class="row pt-3">
    <div class="col-12">
        <div class="card card-header bg-NCDSB-Grey">
                <h3 class="text-center font-weight-bold">View Applications</h3>
        </div>
    </div>
</div>

<div class="row pt-3">
    <div class="col-12">
  
        <!--HEADER CARD---------------------------------->
        <div class="card bg-NCDSB-Grey">

            <div class="card-body">
                <h5 class="card-title">
                    Filter Applications
                </h5>
                <div class="row">
                    <div class="col-5">
                        <b>Name</b>
                        <input type="text" class="form-control">

                        <b>Conference</b>
                        <input type="text" class="form-control">


                    </div>
                    <div class="col-4">
                        <b>Start Date</b>
                        <input type="date" class="form-control">

                        <b>End Date</b>
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-3">
                        <b>Status</b>
                        <select name="status" class="">
                            <option selected>Submitted  </option>
                            <option>Approved</option>
                            <option>Denied </option>
                            <option>Draft</option>

                        </select>


                    </div>
                </div>
            </div>

            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-block"><i class="fa fa-filter fa-2x"></i> Filter </button>
            </div>


        </div>
        <!--HEADER CARD---------------------------------->


    </div>

</div>


<div class="row pt-3">
   
    <div class="col-12">
        <!--Panel-->
        <div class="card card-body bg-NCDSB-Grey">

            <table class="table">
                <tr>
                    <th>
                        <b>@Html.DisplayNameFor(model => model.Employee.FullName)</b>
                    </th>
                    <th>
                        <b>@Html.DisplayNameFor(model => model.Conference.Name)</b>
                    </th>
                    <th>
                        <b>@Html.DisplayNameFor(model => model.DateSubmitted)</b>
                    </th>
                    <th>
                        <b>Status @*@Html.DisplayNameFor(model => model.Status.Description)*@</b>
                    </th>
                    <th></th>
                </tr>

                @{ int i = 0;}

                @for (int c = 0; c < 5; c++)
                {

                    foreach (var item in Model)
                    {
                        i++;
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Employee.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Conference.Name)
                            </td>
                            <td>
                                2018-02-11
                            </td>
                            <td>
                                <i class="fa fa-paper-plane fa-2x"></i>
                                Submitted
                            </td>

                            <td style="width:20%">

                                <a href='@Url.Action("Details", "Applications", new { id = item.ID })' class="badge badge-primary bg-NCDSB-Blue text-white">
                                    <i class="text-white fa fa-eye fa-3x"></i>
                                    <br />
                                    View
                                </a>
                                <a href='@Url.Action("Edit", "Applications", new { id = item.ID })' class="badge badge-primary">
                                    <i class="fa fa-pencil fa-3x"></i>
                                    <br />
                                    Edit
                                </a>
                                <a href='@Url.Action("Delete", "Applications",new { id = item.ID })' class="badge badge-danger">
                                    <i class="fa fa-flag fa-3x"></i>
                                    <br />
                                    Flag
                                </a>

                            </td>
                        </tr>

                    }


                }



            </table>

        </div>
        <!--/.Panel-->




    </div>
</div>

<div class="row pt-3">
    <div class="col-12">

        <!--Footer CARD---------------------------------->
        <div class="card bg-NCDSB-Grey">

            <div class="card-body">
                <h4 class="card-title">
                    Filter Applications
                </h4>
                <div class="row">
                    <div class="col-5">
                        Name
                        <input type="text" class="form-control">

                        Conference
                        <input type="text" class="form-control">


                    </div>
                    <div class="col-4">
                        <b>Start Date</b>
                        <input type="date" class="form-control">

                        <b>End Date</b>
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-3">
                        <b>Status</b>
                        <select name="status" class="">
                            <option selected>Submitted  </option>
                            <option>Approved</option>
                            <option>Denied </option>
                            <option>Draft</option>

                        </select>


                    </div>
                </div>
            </div>

            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-block"><i class="fa fa-filter fa-2x"></i> Filter </button>
            </div>


        </div>
        <!--Footer CARD---------------------------------->

    </div>
</div>

