@model PagedList.IPagedList<ConferenceFormSubmittal.Models.Application>
@using ConferenceFormSubmittal.Utilities;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}


<!--HEADING-->
<div class="row pt-3">
    <div class="col-12">
        <div class="card card-header bg-NCDSB-Grey">
            <h3 class="text-center font-weight-bold">My Applications</h3>
        </div>
    </div>
</div>

@using (Html.BeginForm("Index", "Applications", FormMethod.Get))
{
    //Filter
    <div class="row pt-3">
        <div class="col-12">
            <div class="card bg-NCDSB-Grey">

                <div class="card-header d-flex justify-content-between ">
                    <a href='@Url.Action("Index", "Home")' class="btn btn-primary">
                        @Helper.GetIcon(Helper.Icons.Back) Go Back
                    </a>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".filter" aria-expanded="false" aria-controls="collapseExample,collapseExamples">
                        @Helper.GetIcon(Helper.Icons.Filter) Filter Applications
                    </button>
                </div>

                <div class="collapse filter">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-6">

                                <label class="font-weight-bold d-block"> Date </label>
                                After: @Html.TextBox("startDate", null, new { @class = "form-control datepicker bg-NCDSB-GreyLight", @type = "date" })
                                Before: @Html.TextBox("endDate", null, new { @class = "form-control datepicker bg-NCDSB-GreyLight", @type = "date" })

                            </div>
                            <div class="col-6">
                                <label class="font-weight-bold d-block"> Sort by Conference </label>
                                @Html.TextBox("ConferenceName", null, new { @class = "form-control bg-NCDSB-GreyLight" })

                                <label class="font-weight-bold d-block "> Sort by Status </label>
                                @*Needs to default to Submitted*@
                                @Html.DropDownList("StatusID", null, "All Statuses", htmlAttributes: new { @class = "form-control " })
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit" name="actionButton">
                            @Helper.GetIcon(Helper.Icons.Filter) Filter
                        </button>

                        <a href='@Url.Action("Index", "Applications")' class="btn btn-danger">
                            @Helper.GetIcon(Helper.Icons.Eraser) Clear
                        </a>



                    </div>

                </div>

            </div>
        </div>
    </div>
    //Filter

    <div class="row pt-3">

        <div class="col-12">
            <!--Panel-->
            <div class="card  bg-NCDSB-Grey ">
                <div class="card-header">
                    <h4>Applications</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>
                                <input type="submit" name="actionButton" value="Conference" class="btn btn-grey btn-md" />
                            </th>
                            <th>
                                <input type="submit" name="actionButton" value="Date" class="btn btn-grey btn-md" />
                            </th>
                            <th>
                                <input type="submit" name="actionButton" value="Status" class="btn btn-grey btn-md" />
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {

                            <tr class= @Helper.GetBackGround(item.Status.Description)>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Conference.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateSubmitted)
                                </td>
                                <td>                                   
                                    @Helper.GetIcon(item.Status.Description)
                                    @Html.DisplayFor(modelItem => item.Status.Description)
                                </td>

                                <td style="width:20%">

                                    <a href='@Url.Action("Details", "Applications", new { id = item.ID })' class="badge badge-primary">
                                        @Helper.GetIcon(Helper.Icons.View, 3)
                                        <br />
                                        View
                                    </a>
                                    <a href='@Url.Action("Edit", "Applications", new { id = item.ID })' class="badge badge-info">
                                        @Helper.GetIcon(Helper.Icons.Edit, 3)
                                        <br />
                                        Edit
                                    </a>
                                    <a href='@Url.Action("Delete", "Applications", new { id = item.ID })' class="badge badge-danger">
                                        @Helper.GetIcon(Helper.Icons.Flag, 3)
                                        <br />
                                        Flag
                                    </a>
                                </td>
                            </tr>

                        }



                    </table>
                    <span id="filterMessage" class="text-danger">@((Model.Count() == 0) ? "Zero applicaitons found.  No records match your criteria." : "")</span>
                    <input type="hidden" name="sortDirection" value="@ViewBag.sortDirection" />
                    <input type="hidden" name="sortField" value="@ViewBag.sortField" />


                    <div class="font-weight-bold">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                        @Html.PagedListPager(Model, page => Url.Action("Index",
              new
              {
                  page,
                  sortDirection = ViewBag.sortDirection,
                  sortField = ViewBag.sortField,
                  startAddress = ViewBag.LastStartAddress,
                  endAddress = ViewBag.LastEndAddress,
                  startDate = ViewBag.LastStartDate,
                  endDate = ViewBag.LastEndDate,
                  conferenceName = ViewBag.LastConferenceName,
                  statusID = ViewBag.LastStatusID
              }))
                        <!--/.Panel-->
                    </div>
                </div>





            </div>



        </div>
    </div>



}