@model ConferenceFormSubmittal.Models.Conference
@using ConferenceFormSubmittal.Utilities;

@{
    ViewBag.Title = "Details";
}

<div class="row pt-3">
    <div class="col-12">
        <div class="card card-header bg-NCDSB-Grey">
            <h3 class="text-center font-weight-bold">Conference Details</h3>
        </div>
    </div>
</div>

@*//------------------------------------------------ Header buttons ---------------------------------*@
<div class="row mt-3">
    <div class="col-12">

        <div class="card bg-NCDSB-Grey">
            <div class="card-body">
                <div class="row ">
                    <div class="col-12 d-flex justify-content-between">
                        <a href='@Url.Action("Index", "Conferences")' class="btn btn-primary">
                            @Helper.GetIcon(Helper.Icons.Back)
                            Go Back
                        </a>

                        <a href='@Url.Action("Edit", "Conferences", new { id = Model.ID })' class="btn btn-primary">
                            @Helper.GetIcon(Helper.Icons.Edit)
                            Edit
                        </a>

                        <a href='@Url.Action("Delete", "Conferences", new { id = Model.ID })' class="btn btn-danger">
                            @Helper.GetIcon(Helper.Icons.Flag)
                            Flag
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<div class="row pt-3">
    <div class="col-12">
        <div class="card bg-NCDSB-Grey">
            <div class="card-header">
                <h4>Conference Details</h4>
            </div>

            <div class="card-body">

                @*---------------------ROW------------------------------------------------------------------------------------*@
                <div class="row pt-4">

                    <div class="col-1">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label font-weight-bold" })
                    </div>
                    <div class="col-3">
                        @Html.DisplayFor(model => model.Name)
                    </div>



                    <div class="col-1">
                        @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label font-weight-bold" })
                    </div>
                    <div class="col-3">
                        @Html.DisplayFor(model => model.Location)
                    </div>



                    <div class="col-1">
                        @Html.LabelFor(model => model.RegistrationCost, htmlAttributes: new { @class = "control-label font-weight-bold" })
                    </div>
                    <div class="col-3">
                        @Html.DisplayFor(model => model.RegistrationCost)
                    </div>
                </div>


                @*---------------------ROW------------------------------------------------------------------------------------*@
                <div class="row pt-4">

                    <div class="col-1">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label font-weight-bold" })
                    </div>
                    <div class="col-3">
                        @Html.DisplayFor(model => model.StartDate)
                    </div>



                    <div class="col-1">
                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label font-weight-bold" })
                    </div>
                    <div class="col-3">
                        @Html.DisplayFor(model => model.EndDate)
                    </div>


                </div>


            </div>



        </div>
    </div>
</div>

