@model ConferenceFormSubmittal.Models.Conference

@{
    ViewBag.Title = "Edit";
}

<div class="row pt-3">
    <div class="col-12">
        <div class="card card-header bg-NCDSB-Grey">
            <h3 class="text-center font-weight-bold">Edit Conference</h3>
        </div>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row pt-3">
        <div class="col-12">
            <div class="card bg-NCDSB-Grey">

                <div class="card-body">
                    @*---------------------ROW------------------------------------------------------------------------------------*@
                    <div class="row pt-4">

                        <div class="col-1">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label font-weight-bold" })
                        </div>
                        <div class="col-3">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>



                        <div class="col-1">
                            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label font-weight-bold" })
                        </div>
                        <div class="col-3">
                            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                        </div>



                        <div class="col-1">
                            @Html.LabelFor(model => model.RegistrationCost, htmlAttributes: new { @class = "control-label font-weight-bold" })
                        </div>
                        <div class="col-3">
                            @Html.EditorFor(model => model.RegistrationCost, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RegistrationCost, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    @*---------------------ROW------------------------------------------------------------------------------------*@
                    <div class="row pt-4">

                        <div class="col-1">
                            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label font-weight-bold" })
                        </div>
                        <div class="col-3">
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>



                        <div class="col-1">
                            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label font-weight-bold" })
                        </div>
                        <div class="col-3">
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>


                        <div class="col-2">
                            <input type="submit" value="Save" class="btn btn-success btn-block">
                        </div>

                        <div class="col-2">
                            <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-primary btn-block">
                                <i class="fa fa-long-arrow-left"></i> Go Back
                            </a>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
