@model PagedList.IPagedList<ConferenceFormSubmittal.Models.Conference>
@using ConferenceFormSubmittal.Utilities;
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
}


<!--HEADING-->
<div class="row pt-3">
    <div class="col-12">
        <div class="card card-header bg-NCDSB-Grey">
            <h3 class="text-center font-weight-bold">Conferences</h3>
        </div>
    </div>
</div>

@using (Html.BeginForm("Index", "Conferences", FormMethod.Get))
{
    //Filter
    <div class="row pt-3">
        <div class="col-12">
            <div class="card bg-NCDSB-Grey">

                <div class="card-header d-flex justify-content-between ">
                    <a href='@Url.Action("Index", "Home")' class="btn btn-primary">
                        @Helper.GetIcon(Icons.Back) Go Back
                    </a>

                    <a href='@Url.Action("Create", "Conferences")' class="btn btn-primary">
                        @Helper.GetIcon(Icons.Create) Add a Conference
                    </a>

                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".filter" aria-expanded="false" aria-controls="filter">
                        @Helper.GetIcon(Icons.Filter) Filters
                    </button>
                </div>

                <div class="collapse filter">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-6">
                                <label class="font-weight-bold d-block"> Conference </label>
                                @Html.TextBox("ConferenceName", null, new { @class = "form-control bg-NCDSB-GreyLight" })

                                <label class="font-weight-bold d-block"> Location </label>
                                @Html.TextBox("LocationName", null, new { @class = "form-control bg-NCDSB-GreyLight" })

                            </div>
                            <div class="col-6">
                                <label class="font-weight-bold d-block"> Start Date </label>
                                @Html.TextBox("startDate", null, new { @class = "form-control datepicker bg-NCDSB-GreyLight", @type = "date" })
                                <label class="font-weight-bold d-block"> End Date </label>
                                @Html.TextBox("endDate", null, new { @class = "form-control datepicker bg-NCDSB-GreyLight", @type = "date" })

                            </div>

                        </div>
                    </div>

                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit" name="actionButton">
                            @Helper.GetIcon(Icons.Filter) Filter
                        </button>

                        <a href='@Url.Action("Index", "Conferences")' class="btn btn-danger">
                            @Helper.GetIcon(Icons.Eraser) Clear
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
    //Filter

    <div class="row pt-3">

        <div class="col-12">
            <!--Panel-->
            <div class="card bg-NCDSB-Grey">
                <div class="card-header">
                    <h4>Conferences</h4>
                </div>

                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>
                                <input type="submit" name="actionButton" value="Conference" class="btn btn-grey btn-md" />
                            </th>
                            <th>
                                <input type="submit" name="actionButton" value="Location" class="btn btn-grey btn-md" />
                            </th>
                            <th>
                                <input type="submit" name="actionButton" value="Registration Cost" class="btn btn-grey btn-md" />
                            </th>
                            <th>
                                <input type="submit" name="actionButton" value="Start Date" class="btn btn-grey btn-md" />
                            </th>
                            <th>
                                <input type="submit" name="actionButton" value="End Date" class="btn btn-grey btn-md" />
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>

                        <a href='@Url.Action("Details", "Conferences", new { id = item.ID })' class="badge badge-primary">
                            @Helper.GetIcon(Icons.View, 3)
                            <br />
                            View
                        </a>
                        <a href='@Url.Action("Edit", "Conferences", new { id = item.ID })' class="badge badge-info">
                            @Helper.GetIcon(Icons.Edit, 3)
                            <br />
                            Edit
                        </a>

                        <a href='@Url.Action("Delete", "Conferences", new { id = item.ID })' class="badge badge-danger">
                            @Helper.GetIcon(Icons.Flag, 3)
                            <br />
                            Flag
                        </a>


                        <a href='~/Applications/Create?ConferenceID=@item.ID' class="badge badge-success">
                            @Helper.GetIcon(Icons.Check, 3)
                            <br />
                            Select
                        </a>

                    </td>
                </tr>
}
                    </table>
                    <span id="filterMessage" class="text-danger">@((Model.Count() == 0) ? "No results match your criteria. Can't find the conference you're looking for? Click \"ADD A CONFERENCE\"." : "")</span>
                    <input type="hidden" name="sortDirection" value="@ViewBag.sortDirection" />
                    <input type="hidden" name="sortField" value="@ViewBag.sortField" />



                    <label class="font-weight-bold">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                        @Html.PagedListPager(Model, page => Url.Action("Index",
     new
     {
         page,
         sortDirection = ViewBag.sortDirection,
         sortField = ViewBag.sortField,
         conferenceID = ViewBag.LastConferenceID,
         location = ViewBag.LastLocation,
         startDate = ViewBag.LastStartDate,
         endDate = ViewBag.LastEndDate
     }))
                    </label>
                </div>

               

            </div>

        </div>
    </div>
}