@model List<ConferenceFormSubmittal.Models.Mileage>

@{
    ViewBag.Title = "BatchSubmit";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <table id="tblMileages" class="table" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th style="width:150px">TravelDate</th>
                <th style="width:150px">StartAddress</th>
                <th style="width:150px">EndAddress</th>
                <th style="width:150px">Kilometers</th>
                @*<th style="width:150px">Remeburstment</th>*@
                <th style="width:150px">StatusID</th>
                <th style="width:150px">EmployeeID</th>
                <th style="width:150px">ApplicationID</th>
                @*<th style="width:150px">RoundTrip</th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="date" id="datTravelDate" /></td>
                <td><input type="text" id="txtStartAddress" /></td>
                <td><input type="text" id="txtEndAddress" /></td>
                <td><input type="number" id="txtKilometers" /></td>
                @*<td><input type="text" id="txtRemeburstment" /></td>*@
                <td><input type="number" id="txtStatusID" value="2" hidden="hidden"/></td>
                <td><input type="number" id="txtEmployeeID" value="1" hidden="hidden"/></td>
                @*Should be DDL*@
                <td>
                    @* Not Sure about this yet, going to do manual for now
                    @foreach (var i in Model)
                    {
                        @Html.DropDownListFor(m => i.ApplicationID, null, "Select An Application To Attach", htmlAttributes: new { @class = "form-control" })
                    }*@
                    <input type="number" id="txtApplicationID" />
                </td>
                @*<td><input type="checkbox" id="chkRoundTrip" /></td>*@
                <td><input type="button" id="btnAdd" value="Add" /></td>
            </tr>
        </tbody>
        <tfoot>
            @foreach (var i in Model)
            {
                <tr>
                    <td>
                        @Html.EditorFor(model => i.TravelDate, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.EditorFor(model => i.StartAddress, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.EditorFor(model => i.EndAddress, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.EditorFor(model => i.Kilometres, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.EditorFor(model => i.StatusID, new { htmlAttributes = new { @class = "form-control"@*, @hidden = "hidden"*@} })
                    </td>
                    <td>
                        @Html.EditorFor(model => i.EmployeeID, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.EditorFor(model => i.ApplicationID, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    @*<td>
                        @Html.EditorFor(model => i.RoundTrip, new { htmlAttributes = new { @class = "form-control" } })
                    </td>*@
                    <td><input type="button" value="Remove" onclick="Remove(this)" /></td>
                </tr>
            }
        </tfoot>
    </table>
    <p id="txtValid"> </p>
    @*<textarea id="txtValid" disabled="disabled" value="this doesnt like being a label"> </textarea>*@
    <br />
    <input type="button" id="btnSave" value="Save All" />

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

    <script type="text/javascript">
        $("body").on("click", "#btnAdd", function () {
            //Reference the TextBoxes and the super good practise validation
            var datTravelDate = $("#datTravelDate");
            var txtStartAddress = $("#txtStartAddress");
            var txtEndAddress = $("#txtEndAddress");
            var txtKilometers = $("#txtKilometers");
            var txtStatusID = $("#txtStatusID");
            var txtEmployeeID = $("#txtEmployeeID");
            var txtApplicationID = $("#txtApplicationID");
            //var chkRoundTrip = $("#chkRoundTrip").is(':checked');
            //alert(chkRoundTrip)
            alert(txtEmployeeID.val());

            var txtValid = $("#txtValid");
            txtValid.empty();

            //Super good practise Client Side Validation
            var wegood = true;
            //if (txtName.val().length == 0) {
            //    wegood = false;
            //    txtValid.append("Name is Required <br>");
            //}else if (txtName.val().length < 5) {
            //    wegood = false;
            //    txtValid.append("Name must be more than 5 characters <br>");
            //}else if (txtName.val().length > 100) {
            //    wegood = false;
            //    txtValid.append("Name must be less than 100 characters <br>");
            //}

            //if (txtCountry.val().length == 0) {
            //    wegood = false;
            //    txtValid.append("Country is Required <br>");
            //}else if (txtCountry.val().length < 5) {
            //    wegood = false;
            //    txtValid.append("Country must be more than 5 characters <br>");
            //}else if(txtCountry.val().length > 100) {
            //    wegood = false;
            //    txtValid.append("Country must be less than 100 characters <br>");
            //}
            
            //Validation errors, probabaly with chkbox and the ApplicationID, hopefully
            //the information is entered in the cell.html fields, i dunno
            //Add a new row if the fields are Valid
            if (wegood == true) {
                //Get the reference of the Table's TBODY element.
                var tBody = $("#tblMileages > TFOOT")[0];

                //Add Row.
                var row = tBody.insertRow(-1);

                //Add TravelDate cell.
                var cell = $(row.insertCell(-1));
                cell.html(datTravelDate.val());

                //Add txtStartAddress cell.
                cell = $(row.insertCell(-1));
                cell.html(txtStartAddress.val());

                //Add txtEndAddress cell.
                cell = $(row.insertCell(-1));
                cell.html(txtEndAddress.val());

                //Add txtKilometers cell.
                cell = $(row.insertCell(-1));
                cell.html(txtKilometers.val());

                //Add txtStatusID cell.
                cell = $(row.insertCell(-1));
                cell.html(txtStatusID.val());

                //Add txtEmployeeID cell.
                cell = $(row.insertCell(-1));
                cell.html(txtEmployeeID.val());

                //Add txtApplicationID cell.
                cell = $(row.insertCell(-1));
                cell.html(txtApplicationID.val());

                //Add chkRoundTrip cell.
                //cell = $(row.insertCell(-1));
                ////somethings probally wrong here
                //cell.html(chkRoundTrip);

                //Add Button cell.
                cell = $(row.insertCell(-1));
                var btnRemove = $("<input />");
                btnRemove.attr("type", "button");
                btnRemove.attr("onclick", "Remove(this);");
                btnRemove.val("Remove");
                cell.append(btnRemove);

                //Clear the TextBoxes.
                txtName.val("");
                txtCountry.val("");
            }
        });

        function Remove(button) {
            //Determine the reference of the Row using the Button.
            var row = $(button).closest("TR");
            var name = $("TD", row).eq(0).html();
            if (confirm("Do you want to delete: " + name)) {
                //Get the reference of the Table.
                var table = $("#tblMileages")[0];

                //Delete the Table row using it's Index.
                table.deleteRow(row[0].rowIndex);
            }
        };

        $("body").on("click", "#btnSave", function () {
            //Loop through the Table rows and build a JSON array.
            var mileages = new Array();
            $("#tblMileages TFOOT TR").each(function () {
                var row = $(this);
                var mileage = {};
                //Validation errors, probabaly with chkbox and the ApplicationID, hopefully
                //the information is entered in the cell.html fields
                mileage.TravelDate = row.find("TD").eq(0).html();
                mileage.StartAddress = row.find("TD").eq(1).html();
                mileage.EndAddress = row.find("TD").eq(2).html();
                mileage.Kilometers = row.find("TD").eq(3).html();
                mileage.StatusID = row.find("TD").eq(4).html();
                mileage.EmployeeID = row.find("TD").eq(5).html();
                mileage.ApplicationID = row.find("TD").eq(6).html();
                //mileage.RoundTrip = row.find("TD").eq(7).html();
                mileages.push(mileage);
            });

            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: "/Mileages/InsertMileages",
                data: JSON.stringify(mileages),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    alert(r + " record(s) inserted.");
                    window.location = "/Mileages"
                }
            });
        });
    </script>
}
